{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block "ГлазОК" %}Офтальмологический кабинет "ГлазОК"{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}" >
</head>
<body>

<div class="d-flex " style="background: #20B2AA">
      <a href="/" class="d-flex  ">
       <span class="name">Офтальмологический кабинет "ГлазОК"</span>
      </a>
      <a class="about_us"  href="{% url 'about_us' %}">О нас</a>

<!--          Если пользователь авторизован то будет отображен логин-->
          {% if request.user.is_authenticated %}
          <a class="authorization" href="{% url 'logout' %}">{{user.username}}(Выйти)</a>
          {% else %}
            <a class="authorization" href="{% url 'login' %}">Авторизация на сайте</a>
          {% endif %}
          <a href="{% url 'cart:cart_detail' %}" class="icon_basket">

              <div class="quantity_basket">
                  {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  <b>{{ total_items }}</b>
                {% endif %}
                  {% endwith %}</div>

              <svg width="32" height="30"  style="margin-right:17px;margin-top:3px; background-color: #FFFFFF;border-radius: 20px;" viewBox="-9 0 45 33" fill="#FFFFFF" >
              <path d="M5.92857 13.1829L6.92857 5.04025C6.92857 3.24143 8.39964 1.7832 10.2143 1.7832H14.7857C16.6004
              1.7832 18.0714 3.24143 18.0714 5.04025L19.0714 13.1829M2 8.29729L1 26.7539C1 28.5527 2.47106 30.0109
              4.28571 30.0109H20.7143C22.5289 30.0109 24 28.5527 24 26.7539L23 8.29729H2Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>

          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

              <form action="{% url 'search' %}" method="get" class="search">
                  <input type="search" name="q" class="input_search" placeholder="Поиск по аксессуарам глаза">
                  <i class="fa fa-search"></i>
                </form>

    </div>

<!--    Блок с информацией о наших ценах при выпадающем окне-->
    <div id= "price">
        <h2  style="margin-bottom:30px; font-family: CENTURY GOTHIC, sans-serif;"><u>Цены на услуги</u></h2>
        {% for el in Name_of_service %}
        <p align="justify" style="font-family: CENTURY GOTHIC, sans-serif;"> {{el}}</p><br>
        {% endfor %}
    <a href="#" class="close"></a>
    </div>

<!--    Блок с информацией о нашем докторе при выпадающем окне-->
    <div id= "doctor">
        <h2  style="margin-bottom:30px; font-family: CENTURY GOTHIC, sans-serif;margin-bottom:44px"><u>Приём ведет</u></h2>
        {% for doc in Name_of_doctor %}
        <div class="container_slider_css">
            <img class="photo_slider_css" title="" align="left" src="{{ doc.image.url }}"  alt="Линзы" />
            <img class="photo_slider_css" title="" align="left" src="{{ doc.image1.url }}" alt="Линзы" />
         </div>

        <p class="text" align="justify" > {{doc.Doctor_text}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text1}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text2}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text3}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text4}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text5}}</p><br>
        <p class="text" align="justify" > {{doc.Doctor_text6}}</p><br>
        {% endfor %}
    <a href="#" class="close"></a>
    </div>

<!--    Блок с информацией о нашем докторе при выпадающем окне-->
    <div id= "admission_information">
        <p><u>Предварительная запись только по телефонам:</u></p>
        <p>+7-904-017-47-53</p>
        <p>+7-915-729-22-32</p>
        <div class="schedule">
        <p><u>График работы кабинета:</u></p>
            <div class="time">
            <p>Пн 14:00 - 18:00</p>
            <p>Вт 14:00 - 18:00</p>
            <p>Ср 14:00 - 18:00</p>
            <p style="color:#8B0000;">Чт Закрыто</p>
            <p>Пт 14:00 - 18:00</p>
            <p>Сб 10:00 - 13:00</p>
            <p style="color:#8B0000;">Вс Закрыто</p>
                </div>
        </div>
            <p>Мы находимся по адресу: г.Торжок, ул. Металлистов, д.1"Д"</p>
    <a href="#" class="close"></a>
    </div>


<div class="button">
<a href="#doctor"><img class="doctor" src="{% static 'main/img/Doctor.jpg' %}"  alt="Приём ведёт»" ></a>
<a href="#price"><img class="price"  src="{% static 'main/img/Prices.jpg' %}"  alt="Кнопка «Цены на услуги»"></a>
<a href="#admission_information"><img class="appointment" src="{% static 'main/img/Appointment.jpg' %}"  alt="Кнопка «Записаться на приём»"></a>
    <div class="doctor_text">Приём ведет</div>
    <div class="price_text">Цены на услуги</div>
    <div class="appointment_text">Записаться на приём</div>
</div>

<div class="button">
    <a class="eye_accessories" href="{% url 'products' %}">
        <img class="eye_accessories_img"  src="{% static 'main/img/Сarefully.jpg' %}"  alt="Кнопка «Аксесуары глаза»"></a>

<!--    Переход к отзывам-->
    {% if request.user.is_authenticated %}
        {% for post in posts %}
        <a class="review" href="{% url 'post_detail' slug=post.slug %}" >
        <img class="review_img"  src="{% static 'main/img/Reviews.jpg' %}"  alt="Кнопка «Оставить отзыв»">
        </a>

        {% endfor %}

    {% else %}
        <a class="review"  href="{% url 'login' %}" >
            <img class="review_img" src="{% static 'main/img/Reviews.jpg' %}"  alt="Кнопка «Оставить отзыв»">

        </a>
    {% endif %}


    <!--Переход к новостям-->
    {% if request.user.is_authenticated %}

        {% for post in news_post %}

        <a class="news" href="{% url 'news' post.slug %}">
            <img class="news_img"  src="{% static 'main/img/News.jpg' %}"  alt="Кнопка «Новости для вас»">
        </a>
            {% endfor %}

    {% else %}
        <a class="news" href="{% url 'login' %}">
            <img class="news_img"  src="{% static 'main/img/News.jpg' %}"  alt="Кнопка «Новости для вас»">
        </a>



    {% endif %}


<div class="eye_accessories_text">Аксесуары глаза </div>
<div class="review_text">Оставить отзыв</div>
<div class="news_text" >Новости</div>

</div>

</body>

</html>
<div id = "Information" style="font-family: CENTURY GOTHIC, sans-serif;">"ГлазОК" Тверская область, город Торжок, ул. Металлистов, д.1"Д"  ОГРН:00000000000</div>