{% load static %}
<html>


<h2 align="left">Сброс пароля</h2>
<p align="left">Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{site_name}},<br> которая связана с этим адресом электронной почты: {{ email }}.</p>

<p align="left">Пожалуйста, перейдите на эту страницу и введите новый пароль:</p>


<h3 ><a style="color:#FF0000"  href=" {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" > <img  src="{% static 'main/img/password_reset.png' %}"  style="width: 25px; height: 20px;"> Cбросить пароль</a></h3>

<p align="left">Если вы не отправляли этот запрос, вы можете проигнорировать это письмо</p>

<p align="left">Ваше имя пользователя, если вы забыли: {{ user }}</p>

<p align="left">Спасибо, что используете наш сайт!</p>

<p align="left">Команда сайта {{site_name}}</p>


</html>




























