<!--{extends 'registration.html' %}-->



{% block content %}
<section>
        <div class="container" data-aos="fade-up">
             <div class="section-title">
                     <h2>Сброс пароля</h2>
                     {% if messages %}
                        {% for message in messages %}
                                <p>{{ message }}</p>
                        {% endfor %}
                     {% else %}
                        <p>
                                Забыли пароль? Введите свой адрес электроной почты ниже, и мы отправим вам инструкции по
                                установке пароля.
                        </p>
                     {% endif %}
             </div>
        </div>
        <div class="container" data-aos="fade-up">
                <div class="row mt-5">
                        <div class="col">
                                <form method="post" class="email-form" >
                                        {% csrf_token %}
                                        <div class="row" style="width: 100%; margin: 0 auto;">
                                               <div class="col-12 form-group" >
                                                        <input  type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control">
                                                        <p style="color: red;">{{ form.email.errors|striptags }}</p>
                                                 </div>
                                                <div style="color: red; text-align: right;">
                                                {{ form.non.field_errors }}
                                                </div>
                                        </div>
                                        <div class="text-center mt-5">
                                                <button type="submit">ОТПРАВИТЬ ПИСЬМО</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</section>
{% endblock %}